body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

body::before {
    content: '';
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.3);
}